<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>



<div class="container">
  <div class="row">
    <div class="col-sm-9">  
    </div>
    <div class="col-sm-3">
      <%= link_to "Setting", shop_setting_path(@shop.shop_setting.id) %> |
      <%= link_to "Report", shop_settings_report_path %> |
      <%= link_to "Plan", shop_settings_display_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <div class="card">
        <div class="card-header">
          Customized your settings
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <%= form_with(model: shop_setting, local: true) do |form| %>
              <% if shop_setting.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(shop_setting.errors.count, "error") %> prohibited this shop_setting from being saved:</h2>

                  <ul>
                  <% shop_setting.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="field">
                <%= form.label :admin_email %>
                <%= form.text_field :admin_email %>
              </div>

              <div class="field">
                <%= form.label :inventory_limit %>
                <%= form.range_field :inventory_limit, min:5, max:100, step:1 %>
              </div>

              <div class="field">
                <%= form.label :email_notification_frequency %>
                <%= form.range_field :email_notification_frequency, min:1, max:24, step:2 %>
              </div>

              <div class="field">
                <%= form.label :email_subscription %>
                <%= form.check_box :email_subscription %>
              </div>

              <div class="field">
                <%= form.label :inventory_auto_restock %>
                <%= form.range_field :inventory_auto_restock %>
              </div>

              <div class="actions">
                <%= form.submit "update", :class => "btn btn-primary" %>
                <%= link_to 'Show', @shop_setting, class:"btn btn-primary" %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
